@model IEnumerable<Films>
@{
    TextFields textField = ViewBag.TextField;
}

<div>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Сортировать по популярности", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th></th>
        </tr>
    </table>
    @if (Model.Any())
    {
        <ul class="big-image-list">
            @foreach (Films entity in Model)
            {
                <li>
                    <br/><hr/>
                    <a asp-area="" asp-controller="Films" asp-action="Index" asp-route-id="@entity.Id">
                             <h4>@entity.Title</h4>
                             <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                         </a>
                    <h4>Рейтинг фильма: @entity.AvgRateFilm</h4>
                </li>
            }
        </ul>}
</div>



