<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("cssPartial")
    @await Html.PartialAsync("ScriptPartial")
</head>
<body id="page1">
    <div class="tail-top">
        <div class="tail-bottom">
            <div id="main">
                @await Html.PartialAsync("HeaderPartial");
               
                @RenderBody()

                @await Html.PartialAsync("FooterPartial")
            </div>
        </div>
    </div>
</body>
</html>