<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("cssPartial")
    @await Html.PartialAsync("ScriptPartial")
    <!--[if lt IE 7]>
        <script type="text/javascript" src="js/ie_png.js"></script>
        <script type="text/javascript">
            ie_png.fix('.png, .link1 span, .link1');
        </script>
        <link href="ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body id="page1">
    <div class="tail-top">
        <div class="tail-bottom">
            <div id="main">

                <!-- HEADER -->
                @await Html.PartialAsync("HeaderPartial");
                @RenderBody()
                <!-- CONTENT -->
                @*<div id="content">
                    
                    <div id="slogan">
                        <div class="image png"></div>
                        <div class="inside">
                            <h2>У нас собраны<span>Лучшие фильмы</span></h2>
                            <p>Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod tempor incididunt labore etolore magna aliqua enim minim veniam quis nostrud exercitation ullamco laboris.</p>
                            <div class="wrapper"><a href="#" class="link1"><span><span>Learn More</span></span></a></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="border-right">
                            <div class="border-left">
                                <div class="inner">
                                    <h3>Добро пожаловать на <b>Blokino</b> <span>World</span></h3>
                                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum team. Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
                                    <div class="img-box1"><img src="~/images/1page-img1.jpg" alt="" />Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</div>
                                    <p>Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Fresh <span>Movies</span></h3>
                        <ul class="movies">
                            <li>
                                <h4>Toy Story 3</h4><img src="~/images/1page-img2.jpg" alt="" />
                                <p>Check out Disney-Pixar's official Toy Story site, watch the <span>Toy Story 3</span> trailer, and meet new characters. Remember, no toy gets left behind!</p>
                                <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
                            </li>
                            <li>
                                <h4>Prince of Percia: Sands of Time</h4><img src="~/images/1page-img3.jpg" alt="" />
                                <p>A young fugitive prince and princess must stop a villain who unknowingly threatens to destroy the world with a special dagger.</p>
                                <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
                            </li>
                            <li class="last">
                                <h4>The Twilight Saga: Eclipse</h4><img src="~/images/1page-img4.jpg" alt="" />
                                <p>As a string of mysterious killings grips Bella is forced to choose between her love for vampire Edward and her friendship with werewolf Jacob.</p>
                                <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
                            </li>
                            <li class="clear">&nbsp;</li>
                        </ul>
                    </div>

                </div>*@
                <!-- FOOTER -->
                @await Html.PartialAsync("FooterPartial")
            </div>
        </div>
    </div>

</body>
</html>