<div id="footer">
    <div class="left">
        <div class="right">
            <div class="inside">
                 &copy;Михаил Толмачев<br />
                <a rel="nofollow" href="https://vk.com/icestormy" class="new_window">Страница автора</a> 
                
            </div>
        </div>
    </div>
</div>