@if (User.Identity.IsAuthenticated)
{
    <div id="header">
        <div class="row-1">
            <div class="fleft"><a href="/">@Config.CompanyName</a></div>
            <ul>
                <li><a href="#"><img src="/images/icon1-act.gif" alt="" /></a></li>
                <li><a href="#"><img src="/images/icon2.gif" alt="" /></a></li>
                <li><a href="#"><img src="/images/icon3.gif" alt="" /></a></li>
            </ul>
        </div>
        <div class="row-2">
            <ul>
                <li><a href="/" class="active">Главная</a></li>
                <li><a asp-area="" asp-controller="Services" asp-action="Index">Фильмы</a></li>
                <li><a href="/">О нас</a></li>
                <li><a asp-area="" asp-controller="HomeControllerDef" asp-action="Contacts">Контакты</a></li>
                @if (User.Identity.Name == "admin")
                {
                    <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Привет, @User.Identity.Name</a></li>
                }
                else
                {
                    <li><a href="/">Привет, @User.Identity.Name</a></li>
                }
                <li class="last"><a asp-area="" asp-controller="Account" asp-action="Logout" method="post">Выход</a></li>
            </ul>
        </div>
    </div>
}
else
{
    <div id="header">
        <div class="row-1">
            <div class="fleft"><a href="/">@Config.CompanyName</a></div>
            <ul>
                <li><a href="#"><img src="/images/icon1-act.gif" alt="" /></a></li>
                <li><a href="#"><img src="/images/icon2.gif" alt="" /></a></li>
                <li><a href="#"><img src="/images/icon3.gif" alt="" /></a></li>
            </ul>
        </div>
        <div class="row-2">
            <ul>
                <li><a href="/" class="active">Главная</a></li>
                <li><a asp-area="" asp-controller="Services" asp-action="Index">Фильмы</a></li>
                <li><a href="/">О нас</a></li>
                <li><a asp-area="" asp-controller="HomeControllerDef" asp-action="Contacts">Контакты</a></li>
                <li class="last"><a asp-area="" asp-controller="Account" asp-action="Login">Вход</a></li>
            </ul>
        </div>
    </div>
}







