@model TextFields
<style type="text/css">    #footer {
         background: url(/images/footer-tail.gif) repeat-x left top #bfbfbf;
         color: #1d1d1d;
         font-size: .86em;
         line-height: 1.667em;
         text-align: center;
         margin-top: 580px;
     }</style>
<div>
    @Html.Raw(Model.Text)
</div>