@model IQueryable<ServiceItem>
<style type="text/css">    #footer {
         background: url(/images/footer-tail.gif) repeat-x left top #bfbfbf;
         color: #1d1d1d;
         font-size: .86em;
         line-height: 1.667em;
         text-align: center;
         margin-top: 500px;
     }</style>
<div id="content">
    <div id="slogan">
        <div class="image png"></div>
        <div class="inside">
            <h2>У нас собраны<span>Лучшие фильмы</span></h2>
            <p>Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod tempor incididunt labore etolore magna aliqua enim minim veniam quis nostrud exercitation ullamco laboris.</p>
            <div class="wrapper"><a href="#" class="link1"><span><span>Узнать больше</span></span></a></div>
        </div>
    </div>
    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <h3>Добро пожаловать на <b>Blokino</b> <span>World</span></h3>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum team. Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
                    <div class="img-box1"><img src="~/images/1page-img1.jpg" alt="" />Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</div>
                    <p>Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <h3>Недавно вышедшие <span>фильмы</span></h3>
        <ul class="movies">
            @{ int counter = 0; }
            @foreach (ServiceItem entity in Model)
            {
                if(counter == 2) { break;}
                <li>
                <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                    <h4>@entity.Title</h4><img src="~/images/@entity.TitleImagePath" alt=""/></a>
                </li>
                counter++;
             }
        </ul>
    </div>
</div>

