@model IQueryable<ServiceItem>
@{
    TextFields textField = ViewBag.TextField;

    ViewBag.Title = textField.Metatitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeyWords;
}

<div>
    @if (Model.Any())
    {
        <ul class="big-image-list">
            @foreach (ServiceItem entity in Model)
            {
                <li>
                    <br/><hr/>
                    <h4>@entity.Title</h4>
                    <p class="">@entity.Subtitle</p>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleImagePath" alt="" class="left"/>
                    </a>

                </li>
            }
        </ul>
    }
</div>