@model ServiceItem
@{
    ViewBag.Title = Model.Metatitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeyWords;
    ViewBag.AvgRate = Model.AvgRateFilm;
}

<div>
    <h2>
        @Model.Title
    </h2>
    <h3>
        @Model.Subtitle
    </h3>
    <div>
        <img class="img-block" src="~/images/@Model.TitleImagePath"/>
    </div>
</div>
<div>
    <br/>
    @Html.Raw(Model.Text)
</div>
<div>
    <br />
    <h3>Рейтинг фильма: @Model.AvgRateFilm</h3>
    <form asp-action="Mark" method="post" asp-controller="Services">
        <font size="4" color="red">Уже посмотрели фильм? Оставьте пожалуйста оценку</font>
        <select name="MarkValue">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
        <input type="submit" value="Сохранить" />
    </form>

</div>