@using siteMain.Domain
@model Actors
@{ string strTitle = "Редактировать запись";
    ViewBag.Title = strTitle; }

<script src="~/js/ckeditor/ckeditor.js"></script>
@inject DataManager DataManager;
<div>
    <h3>@strTitle</h3>
    <div>
        <form asp-area="Admin" asp-controller="ActorControllerAdmin" asp-action="EditActor" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="TitleImagePath" />

            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="div-box">
                <font size="4" color="red">В каких фильмах снимался актер? &nbsp;&nbsp;&nbsp;</font>
                <select multiple name="filmId" id="filmId">
                    @foreach (Films entity in DataManager.Films.GetFilms())
                    {
                        <option value="@entity.Id">@entity.Title</option>
                    }
                </select>
            </div>
            <div class="div-box">
                <label asp-for="Text"></label>
                <textarea asp-for="Text"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <div class="div-box">
                <label asp-for="TitleImagePath"></label>
                <input type="file" name="titleImageFile" id="titleImageFile" />
                <div>
                    <img class="img-block" src="~/images/@Model.TitleImagePath" />
                </div>
            </div>

            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>

<script>
    window.onload = function() {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Text)');
        newCKEdit.updateElement();
    }
</script>